.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-direction: column;
  height: 100vh;
}

.title {
  font-size: 4.5rem;
  text-align: center;
}

.description {
  font-size: 2rem;
  text-align: center;
}
